<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>

<h1 align="center">CHATS SHOP MENU</h1>

<hr>

<h2>Pani Puri</h2>
<img src="/static/Screenshot 2026-06-02 144330.png" width="200">
<p>Price : Rs.40</p>

<h2>Masala Puri</h2>
<img src="/static/Screenshot 2026-06-02 144744.png" width="200">
<p>Price : Rs.50</p>

<h2>Samosa</h2>
<img src="/static/Screenshot 2026-06-02 144530.png" width="200">
<p>Price : Rs.20</p>

<h2>Gobi Manchurian</h2>
<img src="/static/Screenshot 2026-06-02 144912.png" width="200">
<p>Price : Rs.80</p>

</body>
</html>